# Ignore Vivado journal and log files
vivado*.jou
vivado*.log
vivado*.str

# Ignore .Xil directory
.Xil

# Ignore vim files:
*~
*.swp
*.swo

vivado/*
!vivado/ip
!vivado/base.tcl
!vivado/base.xdc
!vivado/sensor.tcl
!vivado/sensor.xdc
!vivado/vadd.tcl
!vivado/vadd.xdc
!vivado/pcam5c.tcl
!vivado/pcam5c.xdc

plnx/*
!plnx/meta-user
!plnx/ultra96_base.bsp
